.bestChoice__tag {
  position: absolute;
  left: 30px;
  top: 20px;

  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: $orange;

  font-size: 0.5rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: $tertiary-font;
  letter-spacing: 2px;
  text-transform: uppercase;
}
