$primary-font: "Arvo", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$tertiary-font: "Open Sans", sans-serif;

$black: #000;
$dark-gray: #2c2c2c;
$dark-gray-10: #333;
$gray: #9fa3a7;
$white: #fff;
$white-10: #fffbfb;
$white-20: #f7f8f9;
$light-blue: #27b9c2;
$light-blue-10: #38d5f4;
$light-blue-20: #35cfed;
$purple: #8f76bc;
$dark-purple: #8166b0;
$orange: #f05638;
$green: #7bc424;
$green-10: #93b6b7;
$yellow: #ffc80a;
