.imacRetina__link {
	color: $light-blue-10;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 2.4px;
	text-decoration: none;
	text-transform: uppercase;
}

.imacRetina__link::after {
	content: " >";
}
